<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1 View User Detail
        table
            tr
                td name
                td= user.name
            tr
                td age
                td= user.age
