extends ../layouts/header
block header
    h2 Create New User!
    .container
        if errors
                    each error in errors
                        .alert.alert-danger= error + " is required"

        form(action="/users/create", method="post")


                    .form-group
                        label(for="name") Name
                        input#name.form-control(name="name",type="text", value=value?value.name:"")
                        label(for="phone") Phone
                        input#phone.form-control(name="phone",type="text", value=value?value.phone:"")
                        label(for="age") Age
                        input#age.form-control(name="age",type="text", value=value?value.age:"")
                        button.btn.btn-primary Create!
