<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="/bootstrap/css/bootstrap.min.css" rel="stylesheet")
        link(href="/css/stylesheet.css" rel="stylesheet")

    body




        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.header
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo03' aria-controls='navbarTogglerDemo03' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            a.navbar-brand(href='#') Em yêu trường em
            #navbarTogglerDemo03.collapse.navbar-collapse
                ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                    li.nav-item.active
                        a.nav-link(href='/')| Home
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/products') Products
                    if isAdmin
                        li.nav-item
                            a.nav-link(href='/users') Users
                        li.nav-item
                            a.nav-link(href='/users/create') Create Users
                        li.nav-item
                            a.nav-link(href='/products/create') Create Products
            form#searchForm.form-inline.my-2.my-lg-0(action="/products/search" method="get")
                input#searchValue.form-control.mr-sm-2(type='search', placeholder=q?q:"Search" aria-label='Search' name="q",)
                button.btn.btn-outline-success.my-2.my-sm-0.bg-dark(type='submit' onclick="searchValidate()") Search
            if userName
                button.btn.btn-primary.logined= userName

        script(src="/bootstrap/js/jquery-3.4.1.min.js")
        script(src="/bootstrap/js/bootstrap.min.js")
        script(src="/bootstrap/js/bootstrap.bundle.min.js")
        script(src="/js/validateEvent.js")

        block header
