<div class="movie-info">
    <div class="block-movie-info block-profile-info">
        <div class="row">
            <div class="col-6 movie-detail profile-detail">
                <h1 class="movie-title"><span class="title-1">Katharine Mcphee</span><span class="title-2"></span></h1>
                <div class="movie-meta-info">
                    <dl class="movie-dl">
                        <dt class="movie-dt">Ngày sinh:</dt>
                        <dd class="movie-dd">25/3/1984</dd><br>
                        <dt class="movie-dt">Nghề nghiệp:</dt>
                        <dd class="movie-dd">
                            Diễn viên,
                        </dd><br>
                        <dt class="movie-dt">Quốc gia:</dt>
                        <dd class="movie-dd">Mỹ</dd><br>
                        <dt class="movie-dt">Chiều cao:</dt>
                        <dd class="movie-dd">Chưa có thông tin</dd><br>
                        <dt class="movie-dt">Cân nặng:</dt>
                        <dd class="movie-dd">Chưa có thông tin</dd><br>
                        <dt class="movie-dt">Nhóm máu:</dt>
                        <dd class="movie-dd">Chưa có thông tin</dd><br>
                        <dt class="movie-dt">Ngôn ngữ:</dt>
                        <dd class="movie-dd">Chưa có thông tin</dd><br>
                        <dt class="movie-dt">Sở trường:</dt>
                        <dd class="movie-dd">Chưa có thông tin</dd><br>
                        <dt class="movie-dt">Sở thích:</dt>
                        <dd class="movie-dd">Chưa có thông tin</dd><br>
                        <dt class="movie-dt">Lượt xem:</dt>
                        <dd class="movie-dd">3325</dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <div class="show-all-movie"><a class="btn-show-all-movie" href="ho-so/katharine-mcphee-13428/phim/">Xem
                        phim của Katharine Mcphee</a></div>
            </div>
            <div class="col-6 profile-image">
                <div class="movie-l-img"><img title="Katharine Mcphee - " src="http://image.phimmoiz.net/profile/13428/medium.jpg"></div>
                <div class="action" style="display: none">
                    <div class="btn-group"><button type="button" class="btn btn-a dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <article class="block-movie-content">
        <h2 class="movie-detail-h2">Tiểu sử</h2>
        <div class="like-at-content" data-href="" data-width="140" data-layout="button_count" data-action="" data-show-faces="false" data-share="true" fb-xfbml-state="rendered"><iframe id="fbplugin-like-0" scrolling="no" frameborder="0" allowtransparency="true" style="border: 0px; margin: 0px; padding: 0px; overflow: hidden; display: block; width: 140px; height: 20px;"></iframe>
        </div>
        <div class="content">Katharine Hope McPhee là một nữ ca sĩ nhạc pop và R&amp;B, nhạc sĩ, diễn viên, người mẫu người Mỹ. Cô trở nên nổi tiếng sau khi tham dự và đoạt ngôi á quân tại cuộc thi American Idol (Mùa 5). Tháng 1 năm 2007, cô cho ra mắt album đầu tay của mình
            Katharine McPhee, Album đã chiếm được vị trí số 2 trên bảng xếp hạng Billboard. Đến nay, album này đã bán được 381000 bản. Năm 2010 cô ra mắt 2 album là Unbroken và Chritmas Is the Time To Say I love you(nhạc giáng sinh). Bên cạnh đó cô còn
            tham gia một số bộ phim truyền hình.
            <br><br> McPhee sinh ra tại Los Angeles, California.Cha cô, Daniel McPhee, là một người sản xuất chuơng trình TV. Mẹ cô, Peisha (tục danh Burch) McPhee, đã là một người huấn luyện ca sĩ cho chương trình American Idol từ 2011. Khi Katharine
            được 12 tuổi, gia đình dọn về Sherman Oaks. Chị của McPhee, Adriana, một người huấn luyện ca sĩ American Idol từ 2012.[5] Gia đình McPhee có nguồn gốc Ireland, Scotland và Đức.<br><br> McPhee sau khi học xong trung học 2002, đã theo học trường
            nhạc ở Boston 3 khóa, môn chính là trình diễn Musical. Sau đó cô bỏ về Los Angeles đóng phim truyền hình.
        </div>
    </article>
</div>